body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  background: #000;
  display: block;
  margin: auto;
  border: 2px solid white;
}

#gameOverOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 48px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
}

#gameOverOverlay h1 {
  margin: 0;
}

#restartBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

#gameOverMessage {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  max-width: 400px;
}

